[Unit]
Description=Blackhole OS local API
After=network.target NetworkManager.service bluetooth.service
Wants=network.target NetworkManager.service bluetooth.service

[Service]
Type=simple
Environment=BLACKHOLE_DEV=0
Environment=BLACKHOLE_DATA=/var/lib/blackhole
Environment=BLACKHOLE_CATALOG=/etc/blackhole/catalog.json
Environment=BLACKHOLE_CATALOG_URL=https://blackhole-os-panel.carlostorres.dev/catalog/apps.json
Environment=BLACKHOLE_SHELL_UPDATE_URL=https://blackhole-os-panel.carlostorres.dev
Environment=BLACKHOLE_CHANNEL_URL=https://github.com/CarlosT25-png/blackhole-os/releases/latest/download/channel.json
Environment=BLACKHOLE_BUNDLED_SHELL=/usr/share/blackhole/shell
Environment=BLACKHOLE_SHELL_URL=http://127.0.0.1/
Environment=BLACKHOLE_HOST=127.0.0.1
Environment=BLACKHOLE_PORT=8081
ExecStart=/usr/bin/python3 /usr/lib/blackhole/blackholed.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
